<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.mix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GreenDaoTestActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.CoordinatorLayoutActivity" />
        <activity android:name=".ui.ToolbarActivity" />
        <activity android:name=".ui.Coordinator2LayoutActivity" />
        <activity android:name=".ui.Coordinator3LayoutActivity" />
        <activity android:name=".ui.Coordinator4LayoutActivity" />
        <activity android:name=".ui.SceneTransitionActivity" />
        <activity android:name=".ui.PersonalInfoActivity" />
        <activity android:name=".ui.DragDropActivity" />
        <activity android:name=".ui.VideoActivity"></activity>
    </application>

</manifest>